<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean name="/employee" class="com.exercise9.app.EmployeeController">
    	<property name="employeeService" ref="employeeService"/>
    </bean>

    <bean name="/roles" class="com.exercise9.app.RoleController">
    	<property name="roleService" ref="roleService"/>
    </bean>   

    <bean name="/roles/update" class="com.exercise9.app.RoleUpdateController">
    	<property name="roleService" ref="roleService"/>
    </bean>

    <bean name="/roles/add" class="com.exercise9.app.RoleAddController">
        <property name="roleService" ref="roleService"/>
    </bean>
</beans>
